*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f4f4fc;
}

header {
    width: 100%;
    height: 90px;
}

#logo {
    width: 120px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#seccionEntrada {
    position: absolute;
    left: 200px;
    top: 100px;
    width: 1000px;
    height: 600px;
}

#entradaTexto {
    width: 80%;
    height: 100%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

#entradaTexto::placeholder {
    color: #0A3871;
}

#divMinusculas {
    position: absolute;
    top: 670px;
    left: 370px;
    display: flex;
    color: #495057;
}

#divBotones {
    position: absolute;
    top: 720px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;
}

#btnEncriptar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

#btnDesencriptar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
}

#seccionSalida {
    display: block;
    position: relative;
    align-items: center;
    width: 400px;
    height: 840px;
    left: 1300px;
    
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

#divLupa {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 180px;
    box-sizing: border-box;
    padding-top: 50px;
}

#divEspera {
    position: absolute;
    box-sizing: border-box;
    top: 570px;
    left: 40px;
    right: 40px;
    align-items: center;
}

#divEspera h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
}

#divEspera p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

#divSalida {
    position: absolute;
    bottom: 330px;
    width: 320px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
}

#divSalida p {
    color: #495057;
    font-size: 25px;
}

#divCopiar {
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 40px;
}

#btnCopiar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 4px;
}

.ocultar{
    display: none;
}

html {
    zoom: 70%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.9);
    transform: scale(1.0);
}

footer {
    width: 100%;
    height: 70px;
}

#nombre {
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #0A3871;
}